.ui.topmenu.menu {
  background-color: black;
  margin: 0px;
  border-radius: 0px;
}

.footer-background {
  background-color: #f96d21;
  color: white;
  padding-top: 30px;
  padding-bottom: 30px;
}

.footer-one {
  font-size: 25px;
}

.ui.menu .item {
  color: #ccc;
  font-size: 22px;
}
